body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #5dbae6;
}

.logo img {
    height: 50px;
}

.search-bar input {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 600px; /* Adjust width as needed */
}

.login-register {
    display: flex;

}

.login-register a {
    text-decoration: none;
    margin-left: 1290px;
    margin-top: -31px;
    color: black;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

nav {
    margin-top: 10px;
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

.main-content {
    text-align: center;
}

.gallery {
    text-align: center;
    margin: 20px 0;
}

.gallery h2 {
    margin-bottom: 10px;
    text-align: center;
}

.gallery-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gallery-image {
    margin: 10px;
    flex: 1 1 calc(33.33% - 20px); /* Ensure images are equally spaced and fit in a row */
    max-width: calc(33.33% - 20px); /* Ensure images do not exceed one-third of the row width */
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #5dbae6;
}

.footer-logo img {
    height: 50px;
}

.footer-links-top, .footer-links-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}


.footer-address {
    text-align: center;
}

.social-media a img {
    height: 30px;
    margin: 0 5px;
}



















